.container {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 1115px;

    & .textImg {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 112px;
        min-height: 331px;
        margin-left: 20px;
        margin-right: 20px;

        p {
            color: #FFFFFF;
            font-weight: 500;
            font-size: 14px;
            max-width: 590px;
            min-height: 331px;

            span {
                color: rgba(220, 66, 66, 1)
            }
        }

        & .leftAnime {
            animation: leftAnime 1.2s;
        }

        img {
            width: 100%;
            max-width: 450px;
            height: auto;
        }

        & .rightAnime {
            animation: rightAnime 1.2s;
        }
    }

    & .imgText {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 112px;
        margin-top: 50px;
        min-height: 331px;
        margin-left: 20px;
        margin-right: 20px;

        p {
            color: #FFFFFF;
            font-weight: 500;
            font-size: 14px;
            max-width: 590px;
            min-height: 416px;

            span {
                color: rgba(220, 66, 66, 1)
            }
        }

        & .leftAnime {
            animation: leftAnime 1.2s;
        }

        img {
            width: 100%;
            max-width: 450px;
            height: auto;
        }

        & .rightAnime {
            animation: rightAnime 1.2s;
        }
    }

    @keyframes leftAnime {
        0%{
            transform: translateX(-50%);
        }
        100%{
            transform: translateX(0);
        }
    }

    @keyframes rightAnime {
        0%{
            transform: translateX(50%);
        }
        100%{
            transform: translateX(0);
        }
    }

    @media (max-width: 1230px) {
        & .textImg {
            flex-direction: column-reverse;
            gap: 50px;
        }

        & .imgText {
            flex-direction: column;
            gap: 50px;
        }
    }
}